* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.logo {
  height: 60px;
  padding: 2px 10px;
}

.icon-bar {
  background: darkorange;
}

.navbar-brand {
  padding: 0;
}

.navbar-default {
  border: none;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.bd1 {
  padding-top: 100px;
  width: 100%;
  background: linear-gradient(#5433FF, #20BDFF, #A5FECB);
}

.nmtg {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.nm {
  text-align: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.tab {
  padding-left: 40px;
}

.specs {
  font-size: x-large;
  text-align: center;
}

.abme {
  margin-left: 50px;
  margin-right: 50px;
  font-size: large;
  text-align: justify;
}

.abtxt {
  margin-top: 20px;
  margin-left: 50px;
  font-size: x-large;
}

.propic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-content: center;
  height: 150px;
  padding: 2px 10px;
}

.logo17 {
  width: 30%;
  height: 30%;
}

.cards {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .tolndtech {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 800px) {
  .bd1 {
    height: max-content;
  }

  .cards2 {
    grid-template-columns: repeat(4, 1fr);
  }

  .ct {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tolndtech {
  margin-top: 50px;
}

.cards2 {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .cards2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cards3 {
  display: inline;
}

.cards3 :hover {
  text-decoration: none;
}

.connect {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cont {
  align-self: center;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.cont1 {
  align-self: center;
  margin: 10px;
  width: 60px;
  height: 50px;
}

.fa{
  color: white;
  padding: 15px;
  margin: 0.5rem;
  border:5px solid white;
  border-radius: 100%;
}

.wrapper{
  text-align: center;
}

.fa-linkedin:hover{
  color: blue;
  border:5px solid blue;
  box-shadow: 0 0 15px blue;
  transition: all 0.5s ease;
}

.fa-github:hover{
  color: black;
  border:5px solid black;
  box-shadow: 0 0 15px black;
  transition: all 0.5s ease;
}

.fa-instagram:hover{
  color: purple;
  border:5px solid purple;
  box-shadow: 0 0 15px purple;
  transition: all 0.5s ease;
}

.fa-file-word:hover{
  color: cyan;
  border:5px solid cyan;
  box-shadow: 0 0 15px cyan;
  transition: all 0.5s ease;
}
