* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.logo {
  height: 60px;
  padding: 2px 10px;
}

.icon-bar {
  background: darkorange;
}

.navbar-brand {
  padding: 0;
}

.navbar-default {
  border: none;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.bd1 {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#5433FF, #20BDFF, #A5FECB);
}

.nmtg {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.nm {
  text-align: center;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

.tab {
  padding-left: 40px;
}

.specs {
  font-size: x-large;
  text-align: center;
}

.abme {
  margin-left: 50px;
  margin-right: 50px;
  font-size: large;
  text-align: justify;
}

.abtxt {
  margin-top: 20px;
  margin-left: 50px;
  font-size: x-large;
}

.propic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-content: center;
  height: 150px;
  padding: 2px 10px;
}

.logo17 {
  width: 30%;
  height: 30%;
}

.cards {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .tolndtech {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 800px) {
  .bd1 {
    height: max-content;
  }

  .cards2 {
    grid-template-columns: repeat(4, 1fr);
  }

  .ct {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tolndtech {
  margin-top: 50px;
}

.cards2 {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .cards2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cards3 {
  display: inline;
}

.cards3 :hover {
  text-decoration: none;
}

.connect {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cont {
  align-self: center;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.cont1 {
  align-self: center;
  margin: 10px;
  width: 60px;
  height: 50px;
}

/*css hover effects*/
.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */

.wrapper ul li .fa {
  color: #d8dce2;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */

/*linkedin*/
.wrapper ul li:hover.linkedin {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*github*/
.wrapper ul li:hover.github {
  border: 5px solid black;
  box-shadow: 0 0 15px black;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-github {
  color: black;
  text-shadow: 0 0 15px black;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* resume */
.wrapper ul li:hover.resume {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-file-word {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}