body {
    background-image: url("../image_src/main.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Ubuntu', sans-serif;
  }

  a{
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-weight: bold;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  h1.main_header{
      padding: 10px;
      margin: 10px;
      color: black;
  }

  header{
    border-radius: 10px;
    margin: 10px;
    background: gray;
    opacity: 80%;
  }
