* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(15deg, #74ebd5, #ACB6E5);
    font-family: 'Ubuntu', sans-serif;
}

.header {
    height: 100vh;
}

.logo {
    height: 60px;
    padding: 2px 10px;
}

.icon-bar {
    background: darkorange;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
}

.proj_bdy {
    margin: 20px;
    margin-top: 100px;
}

.prjnm {
    text-align: center;
}

.hdrnm {

    font-weight: 900;
}

.prj_intro {
    margin-top: 20px;
}

.intro_txt {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 35px;
}

.iimg {
    width: 15rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.intro_img {
    display: flex;
}

.atmtxt {
    color: #0487df;
}

.card-deck {
    margin: 40px !important;
}

.card-header {
    display: flex;
}

.cimg {
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 10rem;
}

.cdtxtw {
    text-align: center;
}

.card {
    border-radius: 15px !important;
}